<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Data</title>
</head>
<body>
    <h1>JET Restaurant Data</h1>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <strong>Name:</strong> {{ restaurant.Name }} <br>
                <strong>Cuisines:</strong> {{ restaurant.Cuisines }} <br>
                <strong>Rating:</strong> {{ restaurant.Rating }} <br>
                <strong>Address:</strong> {{ restaurant.Address }}
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
